@media (max-width: 1199px) {
  #main {
  width:inherit;
  padding-left: 10px
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #preload {
  background: url(/images/tablet/tiles.png) no-repeat -9999px -9999px,
              url(/images/tablet/monsters.png) no-repeat -9999px -9999px;
  }  
  #header #experience.progress {
  width:730px;
  }  
  #header .progress {
  width:225px;
  }
  #header .progress label {
  margin:-2px 0 0 90px;
  }
  #header .progress label.wide {
  margin-left:300px;
  }

  #game a {
  font-size:85%;
  height:60px;
  width:60px;
  }  

  #gameboard {
  margin:0 0 0 5px;
  height:440px;
  width:440px;
  } 
  #gameboard td { 
  min-height: 60px;
  min-width: 60px;
  }
  #game a.combat .progress,
  #game a.plot .progress { 
  height:8px; margin-top:52px; 
  }
  #game a .progress label { color: #000; line-height: 10px; font-size:10px; }
  #game a .badge.stat,
  #game a .badge.stat {
  font-size:10px;
  line-height:10px;
  padding:0 3px 1px;
  }

  #drawers-body {
  padding-left:0;
  }
  .drawer {
  padding: 10px 0 0 0;
  }

  #menu {
  position: absolute;
  left: 0;
  top: 550px;
  width:750px;
  }

  .score {
  background: url(/images/tablet/icons.png) no-repeat;
  height:60px;
  width:60px;
  }  

  .score.health { background-position: 0 0 !important; }
  .score.sanity { background-position: -60px 0 !important; }
  .score.wards { background-position: -120px 0 !important; }
  .score.magic { background-position: -180px 0 !important; }
  .score.seal { background-position: -240px 0 !important; }

  .score.damage { background-position: 0 -60px !important; }
  .score.break { background-position: -60px -60px !important; }
  .score.madness { background-position: -120px -60px !important; }
  .score.wealth { background-position: -180px -60px !important; }

  .drawer,
  #powers ul {
  width:305px;
  }
  #powers li {
  height:65px;
  }
  #powers a {
  font-size: 75%;
  line-height: 13px;
  }

  .power {
  background: url(/images/tablet/powers.png) no-repeat;
  height: 60px;
  width:60px;
  }
  .power.as_above_so_below { background-position: 0 0 !important; }
  .power.body_warping_of_gorgoroth { background-position: -60px 0 !important; }
  .power.call_the_beast { background-position: -120px 0 !important; }
  .power.chant_of_thoth { background-position: -180px 0 !important; }
  .power.faustian_riches { background-position: -240px 0 !important; }
  .power.flesh_ward { background-position: 0 -60px !important; }
  .power.legerdemain { background-position: -60px -60px !important; }
  .power.ley_line_convergence { background-position: -120px -60px !important; }
  .power.solomons_wisdom { background-position: -180px -60px !important; }
  .power.supernal_binding { background-position: -240px -60px !important; }
  .power.the_great_work { background-position: 0 -120px !important; }

  #game a {
  background: url(/images/tablet/monsters.png) no-repeat;
  }
  #game a.clue,
  #game a.plot,
  #game a.seal,
  #game a.dynamite,
  #game a.firearm,
  #game a.bandages,
  #game a.morphine,
  #game a.tincture,
  #game a.laudanum,
  #game a.funds,
  #game a.artifact,
  #game a.rite,
  #game a.phylactery,
  #game a.grimoire {
  background: url(/images/tablet/tiles.png) no-repeat;
  }

  #game a.firearm { background-position: 0 0 !important; }
  #game a.dynamite { background-position: -60px 0 !important; }
  #game a.rite { background-position: -120px 0 !important; }
  #game a.grimoire { background-position: -180px 0 !important; }
  #game a.artifact { background-position: -240px 0 !important; }
  #game a.bandages { background-position: 0 -60px !important; }
  #game a.morphine { background-position: -60px -60px !important; }
  #game a.tincture { background-position: -120px -60px !important; }
  #game a.laudanum { background-position: -180px -60px !important; }
  #game a.phylactery { background-position: -240px -60px !important; }
  #game a.clue { background-position: 0 -120px !important; }
  #game a.plot { background-position: -60px -120px !important; }
  #game a.seal { background-position: -120px -120px !important; }
  #game a.funds { background-position: -180px -120px !important; }

  a.cultist { background-position: 0 0 !important; }
  a.high_priest { background-position: -60px 0 !important; }
  a.byakhee { background-position: -120px 0 !important; }
  a.chosen_one { background-position: -180px 0 !important; }
  a.colour_out_of_space { background-position: -240px 0 !important; }
  a.dark_young { background-position: -300px 0 !important; }
  a.deep_one { background-position: -360px 0 !important; }
  a.dhole { background-position: -420px 0 !important; }
  a.dimensional_shambler { background-position: 0 -60px !important; }
  a.elder_thing { background-position: -60px -60px !important; }
  a.fire_vampire { background-position: -120px -60px !important; }
  a.formless_spawn { background-position: -180px -60px !important; }
  a.ghost { background-position: -240px -60px !important; }
  a.ghoul { background-position: -300px -60px !important; }
  a.gnoph_keh { background-position: -360px -60px !important; }
  a.hound_of_tindalos { background-position: -420px -60px !important; }
  a.liche { background-position: 0 -120px !important; }
  a.lloigor { background-position: -60px -120px !important; }
  a.mi_go { background-position: -120px -120px !important; }
  a.nightgaunt { background-position: -180px -120px !important; }
  a.nosferatu { background-position: -240px -120px !important; }
  a.rat_thing { background-position: -300px -120px !important; }
  a.serpent_people { background-position: -360px -120px !important; }
  a.shantak { background-position: -420px -120px !important; }
  a.shoggoth { background-position: 0 -180px !important; }
  a.star_spawn { background-position: -60px -180px !important; }
  a.tcho_tcho { background-position: -120px -180px !important; }
  a.werewolf { background-position: -180px -180px !important; }
  a.witch { background-position: -240px -180px !important; }
  a.wizard { background-position: -300px -180px !important; }
  a.yithian { background-position: -360px -180px !important; }
  a.zombie { background-position: -420px -180px !important; }
  a.ghast { background-position: 0 -240px !important; }
  a.spider_of_leng { background-position: -60px -240px !important; }

  @-webkit-keyframes dropDownOne { 0% { -webkit-transform: translateY(-60px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownOne { 0% { -moz-transform: translateY(-60px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownOne { 0% {-o-transform: translateY(-60px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownOne { 0% {transform: translateY(-60px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownTwo { 0% { -webkit-transform: translateY(-120px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownTwo { 0% { -moz-transform: translateY(-120px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownTwo { 0% {-o-transform: translateY(-120px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownTwo { 0% {transform: translateY(-120px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownThree { 0% { -webkit-transform: translateY(-180px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownThree { 0% { -moz-transform: translateY(-180px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownThree { 0% {-o-transform: translateY(-180px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownThree { 0% {transform: translateY(-180px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownFour { 0% { -webkit-transform: translateY(-240px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownFour { 0% { -moz-transform: translateY(-240px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownFour { 0% {-o-transform: translateY(-240px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownFour { 0% {transform: translateY(-240px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownFive { 0% { -webkit-transform: translateY(-300px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownFive { 0% { -moz-transform: translateY(-300px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownFive { 0% {-o-transform: translateY(-300px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownFive { 0% {transform: translateY(-300px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownSix { 0% { -webkit-transform: translateY(-360px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownSix { 0% { -moz-transform: translateY(-360px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownSix { 0% {-o-transform: translateY(-360px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownSix { 0% {transform: translateY(-360px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownSeven { 0% { -webkit-transform: translateY(-420px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownSeven { 0% { -moz-transform: translateY(-420px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownSeven { 0% {-o-transform: translateY(-420px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownSeven { 0% {transform: translateY(-420px); } 100% {transform: translateY(inherit); } }  
}